token: SuperSecretSauce # API Secret
snapshot_max: 2
servers:
  - name: ubuntu-1804 # full name of server
    region: nyc3
    size: s-1vcpu-1gb
    firewall_id: UUID # remove if no firewall
    ssh_keys: [UUID] # array of last 8 of public keys used to launch the droplet, if excluded, all keys on account will be used
